<div class="container-md">
    <div hidden>
        <p id = "chart_labels">{{labels}}</p>
        <p id = "chart_data">{{data}}</p>
    </div>
    <canvas id="myChart"></canvas>
</div>
<a href="#" class="link-primary">Vaccine Injection Site List</a>
<a href="#" class="link-primary">Administration Page</a>