<div class="container col-9 mt-3 ">
    <h3 class="mb-3">Add Daily Data</h3>
    <form id="addDailyDataForm" method="POST" action="/dailyData" class="needs-validation" novalidate>
        {{#if message}}
        <div class="error font-italic" id="errors">{{message}}</div>
        {{/if}}
        <div class="row g-3">
            <div class="col-md-6">
                <label for="dailyCases" class="form-label">Daily Cases</label>
                <input type="text" class="form-control" name="dailyCases" id="dailyCases">
                <div class="invalid-feedback">
                    Daily Cases is required.
                </div>
            </div>

            <div class="col-md-6">
                <label for="dailyDeath" class="form-label">Daily Death</label>
                <input type="text" class="form-control" name="dailyDeath" id="dailyDeath">
                <div class="invalid-feedback">
                    Daily Death is required.
                </div>
            </div>

            <div class="col-md-6">
                <label for="dailyVaccination" class="form-label">Daily Vaccination</label>
                <input type="text" class="form-control" name="dailyVaccination" id="dailyVaccination">
                <div class="invalid-feedback">
                    Daily Vaccination is required.
                </div>
            </div>

            <div class="col-md-6">
                <label for="dailyRecover" class="form-label">Daily Recover</label>
                <input type="text" class="form-control" name="dailyRecover" id="dailyRecover">
                <div class="invalid-feedback">
                    Daily Recover is required.
                </div>
            </div>

            <div class="col-md-6">
                <label for="sum_of_cases" class="form-label">Sum of Cases</label>
                <input type="text" class="form-control" name="sum_of_cases" id="sum_of_cases">
                <div class="invalid-feedback">
                    Sum of Cases is required.
                </div>
            </div>

            <div class="col-md-6">
                <label for="sum_of_death" class="form-label">Sum of Death</label>
                <input type="text" class="form-control" name="sum_of_death" id="sum_of_death">
                <div class="invalid-feedback">
                    Sum of Death is required.
                </div>
            </div>

            <div class="col-md-6">
                <label for="sum_of_vaccination" class="form-label">Sum of Vaccination</label>
                <input type="text" class="form-control" name="sum_of_vaccination" id="sum_of_vaccination">
                <div class="invalid-feedback">
                    Sum of Vaccination is required.
                </div>
            </div>

            <div class="col-md-6">
                <label for="sum_of_recover" class="form-label">Sum of Recover</label>
                <input type="text" class="form-control" name="sum_of_recover" id="sum_of_recover">
                <div class="invalid-feedback">
                    Sum of Recover is required.
                </div>
            </div>

            <div class="col-12">
                <label for="change_date" class="form-label">Change Date</label>
                <input type="date" class="form-control" name="change_date" id="change_date">
                <div class="invalid-feedback">
                    Change Date is required.
                </div>
            </div>
        </div>

        <hr class="my-4">

        <button class="w-100 btn btn-primary btn-lg" id="addDailyData" type="submit">Add</button>
    </form>
</div>