<div class="container">
    <div class="col card shadow">
        <div class="card-body">
            <div class="container">
                <h2 class="card-title h3">My Reservation</h2>
            </div>
            <div class="container">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Reservation ID</th>
                            <th scope="col">Stie Name</th>
                            <th scope="col">Reservation Date</th>
                            <th scope="col">Creation Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each result}}
                        <tr >
                            <td>{{this.reservationId}}</td>
                            <td>{{this.siteName}}</td>
                            <td>{{this.date}}</td>
                            <td>{{this.time}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="container m-5" id="no-result" hidden="">
                <p><span class="fa fa-exclamation-circle">&#0160;</span>No reservation found.</p>
            </div>
        </div>
    </div>
</div>